{% extends 'base.html' %}

{% block content %}


    <style>
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    </style>



    <div class="pure-g">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-22-24">
            <h3 align="center">
                Detalle Orden
            </h3>

            <form class="pure-form">
                <fieldset >
                    
                    <input type="text" id="txtFecha" class="pure-input-1" placeholder="Fecha" />

                    <br>
                    <br>

                    <input type="text" id="txtCliente" class="pure-input-1" placeholder="Cliente" />

                    <br><br>

                    <label for="chkpagado">
                        Pagado
                    </label>
                    <input type="checkbox" id="chkpagado" />
                </fieldset>

                <fieldset class="pure-group">

                    {{form.mercaderia}}

                    <br><br>    

                    {{form.cantidad}}

                    <button type="button" class="pure-button" onclick="AgregarFilaTabla()">Agregar</button>                    

                </fieldset>

                <br>
                <br>

                <fieldset class="pure-group">
                    <table class="pure-table pure-table-horizontal" id="tblMateriales">
                        <thead>
                            <tr>
                                <th>Material</th>
                                <th>Cantidad</th>
                                <th>Quitar</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </fieldset>

                <br>
                <br>

                <fieldset class="pure-group">
                    <button type="button" class="pure-button pure-button-primary" onclick="GrabarOrden()">Aceptar</button>
                    &nbsp; &nbsp; &nbsp;
                    <button type="button" class="pure-button" onclick="IrListadoVentas()">Cancelar</button>
                </fieldset>


            </form>
        </div>

    </div>

    {% block customjs %}


        <script>

            $(document).ready(function () {
                $("#txtFecha").val((new Date()).toLocaleDateString('es-AR'));

                var modal = document.getElementById("myModal");
                var span = document.getElementsByClassName("close")[0];

                /*
                btn.onclick = function() {
                    modal.style.display = "block";
                }

                span.onclick = function() {
                    modal.style.display = "none";
                }*/


            });

            function getSelectedText(elementId) {
                var elt = document.getElementById(elementId);
                if (elt.selectedIndex == -1)
                    return null;
                return elt.options[elt.selectedIndex].text;
            }

            function IrListadoVentas() {
                window.location.replace("/listadoventas");
            }

            function AgregarFilaTabla(){
                //var material = getSelectedText("id_mercaderia");
                
                var material = $("#id_mercaderia").val(); 
                var nombreMaterial = $("#id_mercaderia>option:selected").html();
                
                var unidad = $("#id_unidad>option:selected").html();
                var idunidad = $("#id_unidad").val();
                var cantidad = $("#id_cantidad").val();

                if(cantidad==""){
                    cantidad = 1
                }

                //var unidad = getSelectedText("selectUnidad")
                //var id_unidad = $("#selectUnidad").val();

                contenido = "<tr id='" + material +  "'>";
                contenido = contenido + "<td>"+ nombreMaterial +"</td>";
                //contenido = contenido + "<td id='" + idunidad + "'>" + unidad + "</td>";
                contenido = contenido + "<td>" + cantidad + "</td>";
                contenido = contenido + "<td><button type='button' onclick='QuitarFila(" + material + ")'>Quitar</button></td>"
                contenido = contenido + "</tr>";
                $("#tblMateriales tbody").append(contenido);
                
            }


            function QuitarFila(id){
                var fila = document.getElementById(id);
                $("#" + fila.id + "").remove();
            }

            function GrabarOrden(){
                var fecha = $("#txtFecha").val();
                var cliente = $("#txtCliente").val();
                var pagado = $("#chkpagado:checked").val();

                var arraymaterial = [];
                var arrayunidad = [];
                var arraycantidad = [];

                var tabla = document.getElementById('tblMateriales');
                var rowLength = tabla.rows.length;
                for(var i=1; i<rowLength; i+=1){
                    var indice = toString(i);
                    var row = tabla.rows[i];
                    var cellLength = row.cells.length;
                    for(var y=0; y<cellLength; y+=1){
                        var cell = row.cells[y];

                        if(y==1){
                            console.log(cell.innerHTML);
                            var idmaterial = row.id;
                            //var idunidad=cell.id;
                            //arraycantidad.push(cantidad);
                            arraymaterial.push(idmaterial);
                            cantidad = cell.innerHTML;//arrayunidad.push(idunidad);
                            arraycantidad.push(cantidad);
                        }
                        /*
                        if(y==2){
                            var cantidad=cell.innerHTML;
                            arraycantidad.push(cantidad);
                        }*/                       
                    }

                }

                $.ajax({
                    type: "POST",
                    url: "/ajaxgrabarventa/",
                    data: {
                        "fecha": fecha,
                        "cliente": cliente,
                        "pagado": pagado,
                        "arraymaterial": arraymaterial,
                        "arrayunidad": arrayunidad,
                        "arraycantidad": arraycantidad,
                    },
                    success: function (response) {
                        if(response.status==200){
                            alert("Se ha grabado la orden");
                            window.location.replace("/listadoventas")
                        }else{
                            if(response.status==400){
                                alert("SIN STOCK");
                            }else{
                                alert("Ha ocurrido un error");
                            }
                        }
                    }
                });
            }

            function RecorrerTabla(idorden){
                var tabla = document.getElementById('tblMateriales');
                var rowLength = tabla.rows.length;
                for(var i=1; i<rowLength; i+=1){
                    var indice = toString(i);
                    var row = tabla.rows[i];
                    var cellLength = row.cells.length;
                    for(var y=0; y<cellLength; y+=1){
                        var cell = row.cells[y];

                        if(y==1){
                            var cantidad=cell.innerHTML;
                            var idmaterial = row.id;
                        }
                        if(y==2){
                            var idunidad=cell.id;
                            console.log(cell);
                        }
                    }
                }
            }


        </script>

    {% endblock %}

{% endblock %}
