{% extends 'base.html' %}

{% block content %}

    <div class="pure-g">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-22-24">
            <h3>
                Detalle Material
            </h3>


            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <strong>{{ error|escape }}</strong>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <strong>{{ error|escape }}</strong>
                {% endfor %}
            {% endif %}


            <form class="pure-form" method="POST">{% csrf_token %}

                <fieldset class="pure-group">
                    {{form.as_p}}
                  
                    
                </fieldset>
                                
                <fieldset class="pure-group">
                    <br>

                    <div class="pure-controls">

                        <div class="pure-g">

                            <div class="pure-u-1-5">
                                <button type="submit" class="pure-button pure-button-primary">Aceptar</button>
                            </div>
                            <div class="pure-u-3-5"></div>
                            <div class="pure-u-1-5">
                                <button type="button" class="pure-button" onclick="IrListadoMercaderia()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </fieldset>                
            </form>
        </div>
        <div class="pure-u-1-24"></div>
    </div>

    {% block customjs %}

        <script>
            function IrListadoMercaderia() {
                window.location.replace("/listadomercaderias");
            }
        </script>

    {% endblock %}

{% endblock %}